<form (ngSubmit)="addPlayer();activeModal.dismiss('Cross click')" #heroForm="ngForm">
<div class="modal-header">
  <h5 class="modal-title">{{team.name}} Ranking {{team.ranking}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container col-12">
    <h6>Enter Player Details</h6>

      <div class="form-group mt-2 p-2 d-inline-block col-6">
        <label for="fName">First Name</label>
        <input type="text" class="form-control" name="fName" id="fName" [(ngModel)]="firstName" #fName="ngModel" required>
      </div>

      <div class="form-group mt-2 p-2 d-inline-block col-6">
        <label for="lName">Last Name</label>
        <input type="text" class="form-control" name="lName" id="lName" [(ngModel)]="lastName" #lName="ngModel" required>
      </div>

      <div class="form-group mt-2 p-2 col-6">
        <label for="dob">Date of Birth</label>
        <p-calendar id="dob"  name="dob" [(ngModel)]="dateValue"
        #dob="ngModel"  [required]="true"></p-calendar>
      </div>

      <div class="form-group mt-2 p-2 d-inline-block col-6">
        <label for="gender">Gender</label>
        <select  [(ngModel)]="gender" class="form-control" name="gender"
         required>
          <option  value="Male" selected>Male</option>
          <option value="Female">Female</option>
      </select>
      </div>


  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Add</button>
</div>
</form>
